<button onclick="buttonClick()">送信</button>
<ul id="kazyougaki">

</ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
      console.log("connencted")
        // socket.emit('my event', {data: 'I\'m connected!'});
    });
    socket.on("message", function(message) {
      console.log(message)
      var li = document.createElement('li');
      li.innerHTML = message;
      document.getElementById("kazyougaki").appendChild(li)
    })

    socket.on("my response", function(message) {
      console.log(message)
    })

    roomSocket = io.connect(`http://localhost:5000/room_id-hogehogheo`);
  roomSocket.on("connect", function() {
    console.log("room connected")
  })

function buttonClick() {
  socket.emit("message", "hogehoge")
}
</script>