{% extends 'room.html' %}

{% block content %}
{% if is_questioner == True %}
<div style="max-height: 30vh; overflow: auto;">
  {% for image_path in image_paths %}
  <img src="{{image_path}}" alt="" onclick="imgClick('{{image_path}}')" id="{{image_path}}">
  {% endfor %}
</div>
<button onclick="sendOnomatopoeia()">オノマトペを追加</button>
<p>お題</p>
<iframe width="150" height="100" src="{{answer}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endif %}
<p>選んでね！</p>
<div id="images">
  <!-- <img src="/static/image/dan.png" alt=""> -->
</div>

<div id="main-content">
  <h1 id="top-text">オノマトペ選択中</h1>
</div>

<div id="onomatopoeia">
</div>

<form id="musics" style="display: flex; flex-wrap: wrap;">
  {% for music in music_choices %}
  <div>
    <div style="padding: 3px 3px;">
      <iframe width="150" height="100" src="{{music}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {% if is_questioner == False %}
    <input type="radio" value="{{music}}" name="music" style="margin: 0 auto; width: 100%;"></input>
    {% endif %}
  </div>
  {% endfor %}
  </form>
  {% if is_questioner == False %}
  <div>
    <button id="set-btn" onclick="selected()" style="background-color: aquamarine;">これに決めた！</button>
  </div>
  {% endif %}

<script>
  // insertMusics()
  // function insertMusics() {
  //   const div = document.getElementById("musics")
  //   let iframe = document.createElement("iframe")
  //   iframe.width = '150'
  //   iframe.height = '100'
  //   iframe.src = 'https://www.youtube.com/embed/VfATdDI3604'
  //   iframe.title = 'YouTube video player'
  //   iframe.frameborder='0'
  //   iframe.allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
  //   div.appendChild(iframe)
  // }

  // function getImage(){
  //   //画像ファイル名を配列で保持
  //   var arr = ['/static/image/image.png', '/static/image/image2.png'];
    
  //   //ランダムで画像ファイルを取得して表示する
  //   var a = Math.floor(Math.random() * arr.length);
  //   return arr[a]
  // }

  // function addOnomatopoeia() {
  //   const ul = document.getElementById("onomatopoeia")
  //   new_li = document.createElement("li")
  //   new_li.innerHTML = "ぴよぴよ"
  //   ul.appendChild(new_li)
  // }

  // function addImage() {
  //   const images = document.getElementById("images")
  //   new_image = document.createElement("img")
  //   new_image.src = getImage()
  //   images.appendChild(new_image)
  // }
</script>

<script src="static/js/room_gaming.js"></script>
{% endblock %}
