{% extends 'room.html' %}

{% block content %}
<button>オノマトペを追加</button>
<img src="/static/image/image.png" alt="">

<p>どんどん</p>
<p>どんどん</p>
<p>どんどん</p>

<script>
    function getImage(){
      //画像ファイル名を配列で保持
      var arr = ['/static/image/image.png', 'image.png', 'usagi.png'];
     
      //ランダムで画像ファイルを取得して表示する
      var obj = document.getElementById("im1");
      var a = Math.floor(Math.random() * arr.length);
      obj.src = arr[a];
    }
</script>

<body>
  <input type="button" value="オノマトペを追加" onclick="getImage()">
  <img id="im1" alt="ここに表示されます。">
</body>
{% endblock %}
