{% extends 'room.html' %}

{% block content %}
<button onclick="addImage()">オノマトペを追加</button>
<div id="images">
  <img src="/static/image/image.png" alt="">
</div>

<ul id="onomatopoeia">
  <li>どんどん</li>
</ul>

<script>
  function getImage(){
    //画像ファイル名を配列で保持
    var arr = ['/static/image/image.png', '/static/image/image2.png'];
    
    //ランダムで画像ファイルを取得して表示する
    var a = Math.floor(Math.random() * arr.length);
    return arr[a]
  }

  function addOnomatopoeia() {
    const ul = document.getElementById("onomatopoeia")
    new_li = document.createElement("li")
    new_li.innerHTML = "ぴよぴよ"
    ul.appendChild(new_li)
  }

  function addImage() {
    const images = document.getElementById("images")
    new_image = document.createElement("img")
    new_image.src = getImage()
    images.appendChild(new_image)
  }
</script>
{% endblock %}
